body {
    padding: 0;
    margin: 0;
    text-align:center;
}

.map {
    padding: 10px;
    margin: 0;
}

.map__res {
    padding: 0;
    margin: 10px 0;
    font-size: 14px;
    font-family: Arial;
}

.map__row {
    padding: 0;
    margin: 0;
    font-size: 0;
    white-space: nowrap;
}

.map__cell {
    display: inline-block;
    width: 40px;    /*10px*/
    height: 40px;   /*10px*/
    padding: 0;
    margin-right: 5px;  /*1px*/
    margin-bottom: 5px; /*1px*/
    /*border: 1px solid #000;*/ /*#eee*/
    /*мое*/
    font-size: 25pt;
    text-align: center;
}

.map__cell_water {
    background-color: #65a6ff;
    border: 4px solid #0345a0;
}

.map__cell_island {
    background-color: #fad946;
    border: 4px solid #c9a91b;
}

.map__cell_select{
    border-color: red;
}
.map__cell_checked{
    opacity: 0.7;
}
.map__cell_empty{
    background-color: #c4c4c4;
    border: 4px solid #8f8f8f;
}

#info-box{
    margin:15px;
}
#start{
    border:1px solid black;
    height:50px;
    padding:5px 15px;
    margin:10px;
    font-size:15pt;
    outline: none;
    box-shadow: 2px 2px 0 #000;
}
#start:active{
    background-color: #e69797;
    box-shadow: 0px 0px 0 #000;
}